---
layout: default
title: Home
notitle: true

# groups of columns of {roles: list, width: num, image: bool}
role-tables:
- - roles: [faculty, postdoc, staff]
    width: 4
    image: true
  - roles: [grad]
    width: 8
    image: true
- - roles: [collab]
    width: 5
    image: false
  - roles: [alum]
    width: 7
    image: false

---
---

<style>
#people .role.grad {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 1.5rem;
}
</style>

<div class="jumbotron">
    <p>
        <b>王安妮课题组</b>开发了首个<b>基于字符串的可逆晶体表示法: SLICES</b>,实现了生成式AI驱动的<b>Text2Crystal</b>。SLICES有望成为AI驱动的晶体材料逆向设计的标准工具,即<b>晶体材料的"SMILES"</b>。 
    </p>
    <p>
    The <b>XIAO Research Group</b> developed the first <b>string-based invertible, invariant crystallographic representation: SLICES</b>, achieving <b>Text2Crystal</b> powered by generative AI. SLICES has the potential to become a standard tool for <i> in-silico </i> materials discovery, i.e. "SMILES" for crystal structures.
    </p>
</div>

<section>
    <h2>News</h2>
    <ul class="news list-unstyled">
        {% for post in site.posts limit: site.front_page_news %}
            {% include news-item.html item=post %}
        {% endfor %}
    </ul>
    {% assign numposts = site.posts | size %}
    {% if numposts >= 1 %}
        <p>
            <span class="fa fa-fw fa-history"></span>
            <a href="{{ site.base }}/blog.html">Older posts&hellip;</a>
        </p>
    {% endif %}
</section>

<script
	type="module"
	src="https://gradio.s3-us-west-2.amazonaws.com/6.5.1/gradio.js"
></script>

<div id="chatbot" style="border: 2px solid #1a4b7c; border-radius: 8px; overflow: hidden; margin: 1.5rem 0; background: #e8eaed;">
<gradio-app src="https://wanganni-wanganni.hf.space"></gradio-app>
</div>








<div id="people">
    <h2>People</h2>
    {% for role-table in page.role-tables %}
        <section class="people row justify-content-between">
            {% for role-column in role-table %}
                <div class="col-md-{{ role-column.width }}">
                    {% for role in role-column.roles %}
                        {% include role-people.html role=role image=role-column.image %}
                    {% endfor %}
                </div>
            {% endfor %}
        </section>
    {% endfor %}
</div>

<section id="videos" style="background:#dde0e4; padding:2rem 0; margin:2rem 0; border-radius:12px;">
    <h2>Recruitment Video</h2>
    <video width="20%" max-width="600" controls style="border: 1px solid #ddd; border-radius: 8px; display:block; margin:1rem auto;">
        <source src="videos/recruitment.mp4" type="video/mp4">
        您的浏览器不支持 video 标签。
    </video>
</section>
